* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

:root {
  --section-height: 70vh;
  --section-width: 70vw;
  --section-padding: 0 15vw;
  --color-main: rgb(77, 88, 185);
  --color-letter: antiquewhite;
  --color-letter-sencondary: rgb(66, 66, 66);
  --color-highlight: crimson;
}