.page {
  background-color: var(--color-letter);
  color: var(--color-main);
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  text-align: center;
}

.image {
  border: 2px solid rgba(236, 170, 183, 0.589);
  border-radius: 5px;
  height: 100%;
}

.imagebox {
  background-color: var(--color-letter);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100vw;
}

.titlebox {
  background-color: var(--color-letter);
  width: 100vw;
}

@media only screen and (max-width: 620px) {
  .image {
    height: 70%;
  }
}


@media only screen and (max-width: 370px) {
  .page {
    height: 90vh;
    width: 340px;
  }
}
