.page {
  background-color: var(--color-letter);
  color: var(--color-main);
  height: 95vh;
  text-align: center;
}

.image {
  border: 2px solid rgba(236, 170, 183, 0.589);
  border-radius: 5px;
  height: 100%;
}

.imagebox {
  background-color: var(--color-letter);
  height: 100%;
}


@media only screen and (max-width: 370px) {
  .page {
    height: 90vh;
    width: 340px;
  }
}
