ul {
  display: flex;
  list-style-type: none;
  margin-right: 20px;
}

li {
  padding-top: 20px;
}

a {
  color: var(--color-letter);
  padding-left: 2vw;
  text-decoration: none;
}


@media only screen and (max-width: 768px) {
  ul {
    background-color: rgb(180, 180, 180);
    flex-flow: column nowrap;
    height: 100vh;
    padding-top: 4rem;
    position: fixed;
    right: 0;
    top: 0;
    width: 120px;
  }
}