.header { 
  align-items: center;
  background-color: var(--color-main);
  color: var(--color-letter);
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding: var(--section-padding);
  position: fixed;
  top: 0;
  width: 100vw;
}

.logoName {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 36px;
  font-weight: 600;
}

.logoName::first-letter {
  color: var(--color-highlight);
  letter-spacing: .1rem;
}

@media only screen and (max-width: 1195px) {
  .header {
    padding: 0 10vw;
  }
}
